<%- include('partials/header') %>
    <div class="waiting-screen">
        <h2>System Offline</h2>
        <div class="loader">Loading...</div>
        <p>Waiting for administrator to initiate restoration protocol...</p>
        <div id="status-message"></div>
    </div>
    <%- include('partials/footer') %>